jaxb-batch/src/main/resources/schema/jupiter/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mass" type="xs:string"/>
                <xs:element name="unit" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" default="jupiter"/>
        </xs:complexType>
        
    </xs:element>

</xs:schema>
